/* adding import code for style css below here */
@import './_reset';
@import './variables';
@import './mixins';
@import './fonts';
@import './_form_inputs';
@import './buttons';
@import './general';
@import './home';
@import './footer.scss';

.left-container-header {
  text-align: left; 
  padding-left: 180px; 
  }

.prize-info {
  list-style: none;
  justify-content: left;
  align-items: left;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #acbced, #acbced, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
}

.home {
  display: flex;
  flex-direction: inherit;
  position: relative;
}

.left-container {
  flex: 1;
  max-width: 49%;
  padding: 10px;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}

  #cruise-logo {
    width: 200px; 
    height: auto;
    display: inline-block; 
    vertical-align: middle;
  }

  #sweeps-logo {
    width: 200px; 
    height: auto; 
    display: inline-block; 
    vertical-align: middle;
    margin: 0 10px; 
  }

  #d-100 {
    width: 100px;
    height: auto;
    display: inline-block; 
    vertical-align: middle; 
  }

.mySlides {
    display: none;
    animation: fade 4s linear infinite;
    height: 100vh;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}


.submit-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color:#acbced;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.submit-button {
  padding-top: 10px;
  text-align: right;
  padding-right: 39px;
}
.form-heading {
text-align: center;
}

.image-container {
padding-top: 25px;
padding-left: 15px;
text-align: center;
flex: 1; 
display: flex; 
justify-content: center; 
}

.image-container img {
  width: 95%;
  height: auto;
  margin-right: 25px; 
}

/* a { color:black } Globally */

/* Each state */

/* a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; } */
/* a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black } */
.terms-of-use a li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background-image: url('../Images/bulletmickey.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
}

.terms-of-use {
  display: grid;
  margin: 40px auto 70px;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  grid-auto-flow: row;
  align-items: center;
}

li {
  font-family: Avenir;
  font-size: 16px;
  line-height: 31px;
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  color: #000000;
  align-items: center;
  margin: 3px 0;
}

a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 400;
  color: #440099;
      &:hover {
        color: darken(#440099, 10);
        text-decoration: underline;
        }
}

li:nth-child(5) {
  margin: 6px 0;

  .footer-links__divider {
    align-self: start;
    margin-top: 5px;
  }

  a {
    width: 190px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: #440099 !important;

    &:hover {
      color: darken(#440099, 10);
        text-decoration: underline;
    }
  }

  @media (min-width: 768px) {

    a {
      width: 100%;
    }

    .footer-links__divider {
      align-self: center !important;
      margin-top: unset;
    }
  }
}


.first-divider {
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 1px solid #5a627a;
  border-bottom: 1px solid #5a627a;
}

.second-divider {
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 1px solid #5a627a;
  border-bottom: 1px solid #5a627a;
}

.disney-footer {
  margin: 20px auto 0;
  justify-self: center;

  @media (min-width: 768px) {
    width: 120px;
  }
}

label {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  color: #440099;
  display: block;
  text-align: center;
  margin: 26px auto;
}




.traduct-container {
  display:inline-block;
  z-index:2147483647
}
.country-selector {
  display:inline-block;font-size:13px;position:relative;text-align:left;width:auto
}
.country-selector .wg-li {
  font-size:13px
}
.wg-drop.country-selector {
  background-color:#fff
}
.wg-drop.wg-mouse-click > div {
  outline:0
}
.country-selector ul {
  list-style:none;
  margin:0;
  padding:0;
  z-index:2147483647
}
.country-selector li {
  margin:0;padding:0
}
.country-selector a {
  color:#000;
  display:flex;
  float:none!important;
  outline:none;
  text-decoration:none
}
.country-selector a:focus {
  outline:none
}

/* navbar styling below */
header.main-header {
  width: 100%;
  height: 46px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #FFFFFF;
  opacity: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  @media(min-width: 1024px) {
    height: 70px;
  }

  nav.header__navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    .header__navbar__logo {
      justify-self: center;

      img {
        width: 100px;
      }

      @media(min-width: 1024px) {
        justify-self: start;

        img {
          width: 170px;
          margin-left: -85px;
        }
      }
    }

    .navbar__content {
      .navbar__nav {
        .navbar__nav__item {
          height: 46px;
          display: flex;
          align-items: left;
          justify-content: left;
          border-bottom: 2px solid transparent;;
          max-width: 170px;

          @media(min-width: 1024px) {
            height: 70px;
            max-width: 100%;
            justify-content: start;
            margin-left: 1.5rem;
          }

          span {
            color: white;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            font-family: Avenir;
          }

          .nav-link {
            display: block;
            color: #000000;
            text-align: center;

            padding: 2px;
            margin: 12px;

            text-decoration: none;
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 140%;

            @media(min-width: 1024px) {
              font-size: 20px;
            }

            &:hover {
              border-bottom: 2px solid #440099;
              .nav-link {
                color: #7D8287;
              }
            }
          }

        }

      }

      .item_register {
        background: #C9A7B7;
        &:hover {
          background: darken(#C9A7B7, 10%);
        }
      }

    }

  }

}
