header {
    text-align: center; 
    padding: 20px; 
  }

  #cruise-logo {
    width: 200px; 
    height: auto;
    display: inline-block; 
    vertical-align: middle;
  }

  #sweeps-logo {
    width: 200px; 
    height: auto; 
    display: inline-block; 
    vertical-align: middle;
    margin: 0 10px; 
  }

  #d-100 {
    width: 100px;
    height: auto;
    display: inline-block; 
    vertical-align: middle; 
  }

.mySlides {
    display: none;
    animation: fade 4s linear infinite;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}

.slideshow-container {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 5%;
}
